@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto&family=Rock+Salt&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', Georgia, serif;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
}

h4 {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    position: relative;
    top: 70px;
}

ul {
    list-style: none;
    margin-left: 10px;
}


selcontainer {
    max-width: 900px;
    margin: 10px;
    text-align: left;

}

.detail {

}


listcontainer {
    max-width: 700px;
    margin: 10px;
    justify-content: center;
    align-items: flex-start;
}

/*--------------------------*/
/*       reusable           */
/*--------------------------*/

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/*---------------------------*/
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;


}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    width: 700px;
}

.icon-img {
    width: 100px;
    height: 100px;
    border: solid 1px lightgrey;
    border-radius: 10%;
}

.icon-img32 {
    width: 50px;
    padding: 5px;
    margin: 5px;;
}

.blankline {
    padding-bottom: 5px;
}

/*---attributes for recipe line items */

.font-p {
    margin: 5px;
    padding: 5px;

}
.img-p {

    border-radius: 10%;
}



.recipe-line {
    display: flex;
    flex-direction: row

}
/*-----recipe line items */

#head-img {
    width: 500px;
    padding: 5px;
    margin: 5px;
    border: 5px white;
    border-radius: 20px;
}


#fill-img {
    width: 300px;
    padding: 5px;
    margin: 5px;
    border: 2px;
    border-radius: 20px;
}

#on-submit-cuisine {
    justify-content: flex-start;
}

#author, #tag {
    margin: 2px;
    width: 70px;

}

#title {
    width: 100px;

}

#cuisine-list {
    text-align: left;
    height: 200px;
    flex-wrap: wrap;
    padding: 2px;

}

#buttonStart, #buttonNext {
    background-color: orange;
    font-size: medium;
    border: solid 5px darkorange;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    margin: 5px;
}

#buttonNext {
    background-color: darkorange;
    color: white;
    font-size: medium;
    border: solid 5px orangered;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    margin: 5px;
    position: fixed;
    bottom: 100px;
    right: 100px;
}

#recipe-list {
}

#recipe-list img {
    width: 20%
}

#rec-instr, #rec-description, #rec-time, #rec-servings, #rec-ingr {
    font-size: small;
    display: block;
    max-width: 700px;
    padding: 5px;

}

#message {
    color: mediumblue;
}
@media screen and (min-width: 768px) {

}
