@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto&family=Rock+Salt&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Merriweather', Georgia, serif;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-family: 'Roboto Condensed', Arial, sans-serif;
    position: relative;
    top: 70px;
}

ul {
    list-style: none;
    margin-left: 10px;
}


/*form label {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    gap: 5px;*/
/**/
/*}*/

selectioncontainer {
    max-width: 700px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

/*--------------------------*/
/*       reusable           */
/*--------------------------*/

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/*---------------------------*/
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;


}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    width: 700px;
}

.icon-img {
    width: 100px;
    height: 100px;
    padding: 0.001em;
    border: solid 1px lightgrey;
    border-radius: 10%;
}

.icon-img32 {
    width: 50px;
    padding: 5px;
    margin: 5px;;
}


.font-p {
    margin: 5px;
    padding: 5px;
}

.blankline {
    padding-bottom: 5px;
}

.recipe-line {
    display: flex;
    flex-direction: row

}

#head-img {
    width: 500px;
    padding: 5px;
    margin: 5px;
    border: 5px white;
    border-radius: 20px;
}


#fill-img {
    width: 300px;
    padding: 5px;
    margin: 5px;
    border: 2px;
    border-radius: 20px;
}

#on-submit-cuisine {
justify-content: flex-start;
}

#author, #tag {
    margin: 2px;
    width: 50px;

}

#title {
    width: 100px;

}

#cuisine-list {
    text-align: center;


}

#button {
    background-color: orange;
    font-size: medium;
    border: solid 5px darkorange;
    border-radius: 10px;
    width: 90px;
    height: 50px;


}

#recipe-list {

}


#recipe-list img {
    width: 20%
}



.sel-cui {
    font-family: 'Merriweather', Georgia, serif;
    font-size: small;
    padding: 10px;
    margin: 10px;
    text-align: left;
    border: solid 2px lightgrey;
    border-radius: 20px;
}

@media screen and (min-width: 768px) {

}
